.toolbar{
  height:48px;
  width:100%;
  top: 0%;
  background-color:black;
  text-align:center;
  display:flex;
  justify-content:center ;
}

.luchasarie{
  align-self: center;
  text-decoration: none;
  font-size: 24px;
  color:white;
  text-align: center;
}
