.ResultsViewBox{
  max-width: 1000px;
  padding:24px;
  display:flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: space-evenly;
}
.ResultsViewItemResults{

}

.ResultsViewItemRepoResults{
}
