@mixin for-size($range) {
  $phone-upper-boundary: 600px;
  $tablet-portrait-upper-boundary: 900px;
  $tablet-landscape-upper-boundary: 1200px;
  $desktop-upper-boundary: 1800px;

  @if $range == phone-only {
    @media (max-width: #{$phone-upper-boundary - 1}) {
      @content;
    }
  } @else if $range == tablet-portrait-up {
    @media (min-width: $phone-upper-boundary) {
      @content;
    }
  } @else if $range == tablet-landscape-up {
    @media (min-width: $tablet-portrait-upper-boundary) {
      @content;
    }
  } @else if $range == desktop-up {
    @media (min-width: $tablet-landscape-upper-boundary) {
      @content;
    }
  } @else if $range == big-desktop-up {
    @media (min-width: $desktop-upper-boundary) {
      @content;
    }
  }
}

.SearchDevs {
  font-size: 48px;
  @include for-size(desktop-up) {
    font-size: 80px;
  }
  display: inline;
}
.BlueText {
  color: #0069ca;
}

.PurpleText {
  color: #8c19d2;
}
.SearchWrapper {
  width: 100vw;
  height: 80vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.SearchInputWrapper {
  position: relative;
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.SearchInput {
  border-color: black;
  border-radius: 4px;
  border: 1px solid #ccc;
  height: 48px;
  padding-left: 32px;
  width: 80vw;
  @include for-size(tablet-portrait-up) {
    width: 420px;
  }
}
.SearchInput:focus {
  border-color: #8c19d2;
}
.SearchIcon {
  position: absolute;
  left: 0px;
  padding-left: 8px;
  transform: translateY(-50%);
  top: 50%;
  font-size: 24px;
  color: gray;
  height: 24px;
  width: 24px;
  margin-bottom: 0;
  margin-top: 0;
}
.SearchButton {
  display: none;
  @include for-size(tablet-portrait-up) {
    display: flex;
    margin-top:0px;
  }
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  width: 176px;
  height: 48px;
  text-align: center;
  font-size: 18px;
  text-decoration: none;
  background-color: #8c19d2;
  color: white;
  margin-left: 16px;
}

.SearchInside {
  margin: auto;
}
