<div *ngIf="repoinfo.length === 0">
  <h1>Esse usuário não contém nenhum repositório público disponível.</h1>
</div>
<div class="RepoBox">
  <div class="RepoContainerDiv" *ngFor="let Repo of repoinfo | sortByOrder">
    <a class="RepoBoxLink" href="{{ Repo.html_url }}">
      <div class="RepoInside">
        <div class="RepoUpperRow">
          <span class="RepoLastUpdateTime">Atualizado há {{ Repo.updated_at | dateAsAgo }}</span>
          <span class="RepoName">{{ Repo.name | titlecase }}</span>
          <br />
          <div class="RepoDescription">
            {{ Repo.description || "No Description" }}
          </div>
        </div>
        <div class="RepoLowerRow">
          <mat-icon class="RepoStars">star</mat-icon>
          <span class="RepoStarsCount">{{ Repo.stargazers_count }}</span>
        </div>
      </div>
    </a>
  </div>
</div>
